body {
  background-color: rgb(244, 243, 244);
}

.container {
  width: 80%;
  text-align: center;
}

#header {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  margin: 1px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: black;
  border-color: black;
}

.button:hover {
  background-color: brown;
}

img {
  border-radius: 4px;
  max-width: 100%;
  min-width: 420px;
  max-height: 420px;
}
