body {
  background-color: rgb(244, 243, 244);
}

.main-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

#header {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.content-container {
  border: 1px solid black;
  /* border-radius: 4px; */
}

.case-container {
  margin: 50px;
  border: 1px solid red;
  /* padding: 50px; */
}

.button.button-clear {
  color: black;
  font-size: large;
}

.button:hover {
  background-color: brown;
}

img {
  border-radius: 4px;
  max-width: 100%;
  min-width: 420px;
  max-height: 420px;
}

.question {
  font-weight: bold;
}

span {
  background: linear-gradient(to bottom, #89d6e4 0%, #89d6e4 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 2px;
  color: #000;
  transition: background-size 0.2s;
}

span :hover {
  background-size: 100% 100%;
}

span {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    #ddd 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  color: #222;
  transition: background-position 0.5s ease-out;
}

span:hover {
  background-position: -99.99% 0;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}
